@media (max-width: 768px) {
  .lightsaber-container {
    position: relative;
    display: inline-flex;
    transform: scale(0.35);
    width: 50px;
    margin-right: 100px;
    margin-left: -4rem;
  }
  
}
.lightsaber{
  position: relative;
  margin-left: 3rem;
}


  .hilt {
    width: 200px;
    height: 28px;
    background-color: #333;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 75px;
  }
  
  .button-lightsaber {
    width: 20px;
    height: 10px;
    background-color: #555;
    border-radius: 5px;
    margin: 0 5px;
  }
  
  .handle {
    width: 80px;
    height: 30px;
    background-color: #777;
    border-radius: 10px;
    margin: 0 10px;
    position: relative;
  }
  
  .detail {
    width: 30px;
    height: 5px;
    background-color: #666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .blade {
    width: 500px;
    height: 20px;
    background-color: #00f;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(39.5%, -50%);
    border-radius: 5px;
    box-shadow: 0 0 20px #00f, 0 0 40px #00f, 0 0 60px #00f, 0 0 80px #00f;
    animation: pulse 1s infinite alternate;
    padding-right: 50px;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 20px #00f, 0 0 40px #00f, 0 0 60px #00f, 0 0 80px #00f;
    }
    100% {
      box-shadow: 0 0 30px #00f, 0 0 50px #00f, 0 0 70px #00f, 0 0 90px #00f;
    }
  }


